<div class="card-deck">
    <div class="card">
        <img src="/images/ani.png" class="card-img-top" alt="...">
        <div class="card-footer">
            <small class="text-muted">The Ideator</small>
        </div>
        <div class="card-body">
            <h5 class="card-title">Aniruddh Jain</h5>
            <p class="card-text">Columbia University</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/dom.jpeg" class="card-img-top" alt="...">
        <div class="card-footer">
            <small class="text-muted">The Wiz Kid</small>
        </div>
        <div class="card-body">
            <h5 class="card-title">Dominik Gadesmann</h5>
            <p class="card-text">Leibniz University Hanover</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/Maraam.jpg" class="card-img-top" alt="...">
        <div class="card-footer">
            <small class="text-muted">The World Savior</small>
        </div>
        <div class="card-body">
            <h5 class="card-title">Maram Barakat</h5>
            <p class="card-text">Between NYC and Africa</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/helena.jpg" class="card-img-top" alt="...">
        <div class="card-footer">
            <small class="text-muted">The Doctor Lady</small>
        </div>
        <div class="card-body">
            <h5 class="card-title">Helena Anke</h5>
            <p class="card-text">Medizinische Hochschule Hanover</p>
        </div>
    </div>
</div>