<div class="container-fluid row" id="start-page">
  <div class="container col-md-6" id="left-side">
    <h2 color=red;>Prescriptions Simplified.<br>
      Healthcare Visualised.<br>

    </h2>
    <br><br>
    <p>There are at-least 100 applications to deliver you drugs to door, remind you to take them on time to build drug
      dose consistency, and several others to monitor your health.<b> The American National Health Bureau hopes they
        work as
        efficiently as they promise.</b>
      <br><br>
    </p>
    <h5>
      <b>Post-Med helps tackle the 3.82B USD loss globally by implementing visual simplicity and inclusivity for users
        of all age
        education and technical ability.</b>
    </h5>
    <p>
      <br><br>
      Hospitals are complex machines but the most efficient ones
      are simple and easier to navigate than your house, especially in distress. Similarly we help remove Age,
      Education, and Digital Nativeness Bias which in the medical world are responsible for 7000 deaths annually in USA
      alone with 3.82B worldwide lost in efficiency due to complicated interfaces.
      <br><br>
      Plus we work offline too, meaning, a doctor can send a visual prescription out to the remotest part of the world
      without being concerned about language and educational barrier.

    </p>

    <br><br>


    <h2>Login</h2>
    <form action="/login" method="POST" id="login-form">
      <div class="row">
        <div class="col-md-5" style="padding-left: 0">
          <input type="text" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="col-md-5" style="padding-left: 0">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="col-md-2" style="padding-left: 0">
          <button type="submit" class="form-control btn btn-primary">Login</button>
        </div>
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}
      </div>
    </form>
  </div>

  <div class="container col-md-6" id="right-side">
    <div class="ml-auto col-md-6" style="margin-top: 20%">
      <h2>Signup</h2>

      <form action="/signup" method="POST" id="signup-form">
        <div class="row">
          <input class="form-control" type="text" name="firstName" placeholder="Firstname">
        </div>
        <br>
        <div class="row">
          <input class="form-control" type="text" name="lastName" placeholder="Lastname">
        </div>
        <br>
        <div class="row">
          <select class="form-control" name="country">
            <option selected>Country</option>
            <option>United States</option>
            <option>Germany</option>
            <option>France</option>
            <option>Spain</option>
            <option>Italy</option>
          </select>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 p-0">
            <label for="signup-birthdate">Birthdate</label>
            <input type="text" class="form-control" id="signup-birthdate" placeholder="YYYY-MM-DD" name="birthDate">
          </div>
          <div class="col-md-5 p-0 ml-auto">
            <label for="signup-gender">Gender</label>
            <select class="form-control" id="signup-gender" name="gender">
              <option selected>select</option>
              <option>male</option>
              <option>female</option>
              <option>other</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <input class="form-control" type="text" placeholder="Email" name="email">
        </div>
        <br>
        <div class="row">
          <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        {{#if signMessage }}
        <div class="error-message">{{ signMessage }}</div>
        {{/if}}
        <br><br>
        <div class="row">
          <button type="submit" class="form-control btn btn-primary">Create account</button>
        </div>
        <br>
        <div class="row">
          <a href="/auth/signup">Sign up as a doctor?</a>
        </div>
      </form>
    </div>
  </div>
</div>