<!DOCTYPE html>
<html lang="en">

{{!-- header with scripts --}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

{{!-- navbar --}}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/images/P.png" id="p-img" alt="post med image"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#">Treatments<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link disabled" href="#">Sign out</a>
    </div>
  </div>
</nav>

{{!-- body contains variable views --}}

<body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  {{{body}}}
  <script src="/javascripts/script.js"></script>

  {{!-- Adding a Side panel from : https://www.w3schools.com/howto/howto_js_collapse_sidepanel.asp --}}
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">First Name - Last Name </a>
    <a href="#">Age: </a>
    <a href="#">Gender: </a>
    <a href="#">Patient ID </a>
    <a href="#">Pregnancy</a>
    <a href="#">Cancer</a>
  </div>




</body>

</html>