<div style="height: 300px;" id="overview-top">
    <button class="openbtn" onclick="openNav()">&#9776; Account Details</button>
</div>
<div>
    <div class="container-fluid row" id="overview">
        {{#each arr}}
        <div class="container col-md-2" id="circles"">
            {{> weeklyDonut}}
        </div>
        {{/each}}
    </div>

    <div style=" height: 300px;" id="overview-top"></div>