<div style="height: 100px;" id="overview-top2"></div>

<div class="container"></div>


</div>
<div class="container-fluid row">
    {{!-- <div class="col-1" id="overview-top"></div> --}}
    <div class="col-md-6" id="overview-top">
        <div id="overview-top">
            {{> weeklyDonut}}
        </div>
        <div id="overview-top">TEXT TEXT</div>
    </div>

    {{!-- <div class="col-1" id="overview-top"></div> --}}
    <div class="col-md-6 m-y-50px" id="overview-top">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Week Days</th>
                        <th scope="col">Activities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"> <img src="/images/Mon.png" height=50 width=50></th>
                        <td><img src="/images/medicine2.png" height=50 width=50></td>

                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Tue.png" height=50 width=50></th>
                        <td><img src="/images/doctor.png" height=50 width=50></td>

                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Wed.png" height=50 width=50></th>
                        <td><img src="/images/rest.png" height=50 width=50></td>

                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Thu.png" height=50 width=50></th>
                        <td><img src="/images/course.jpg" height=50 width=50></td>

                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Fri.png" height=50 width=50></th>
                        <td>Larry</td>

                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Sat.png" height=50 width=50></th>
                        <td>Larry</td>

                    </tr>
                    <tr>
                        <th scope="row"><img src="/images/Sun.png" height=50 width=50></th>
                        <td>Larry</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div style="height: 100px;" id="overview-top2"></div>