body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#navbar {
  height: 6vh;
  align-content: center;
}

#p-img {
  height: 6vh;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#start-page {
  margin-top: 8vh;
}
